

.App-logo {
  height: 3vmin;
  pointer-events: none;
  vertical-align: middle;
  margin-right: 7px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.sidebar-title {
  padding: 24px;
  font-weight: bold;
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.App-link {
  color: #61dafb;
}
#root, .App {
  height: 100%;
}
body {
  margin: 0;
  height: 100vh;
  color: #353535;
  font-family: "Roboto",sans-serif;
}
.pro-sidebar > .pro-sidebar-inner > .pro-sidebar-layout .pro-sidebar-header {
  background: #0A75C2;
  color: white;
}
.bv-sidebar__header {
  background: #0A75C2;
  color: #ffffff;
}
.mainHeader {
  display: block;
}
.mainHeader:after {
  content: "";
  clear: both;
  display: block;
}
.mainNav {
  background: #0A75C2;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 900;
  justify-content: space-between;
  padding: .7rem 1rem;
}
.mainLeft {
  margin-right: auto!important;
}
.mainLeft p {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.mainLeft img {
  padding-right: 10px;
}
.mainRight {
  margin-left: auto!important;
}
.bv-sidebar__view {
  margin-top: 50px !important;
}
.bv-app .bv-page {
  flex: 1 1;
  width: 0;
  padding-top: 5.5rem;
}